body, html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}
#root, #wrap {
  height: 100%;
}
#inputs {
  background: #ddd;
  padding: 16px;
  border-bottom: 1px solid #bbb;
  height: 30%;
  width: 100%;
}
#inputMsg {
  display: block;
  width: 95%;
  margin: 8px 0 16px;
  padding: 8px;
}
label {margin-right: 10px;}
.display {
  padding: 16px;
  height: 70%;
  width: 100%;
  text-align: center;
}
